Repository quinoacomputing/quinoa, pull requests merged in 2020-04, with the labels that each got.

#400 History output for nodal schemes in inciter
  src/Control/FileParser.cpp
  src/Control/Inciter/InputDeck/Grammar.hpp
  src/Control/Inciter/InputDeck/InputDeck.hpp
  src/Control/Inciter/Types.hpp
  src/Control/Keywords.hpp
  src/Control/Tags.hpp
  src/IO/DiagWriter.hpp
  src/Inciter/ALECG.cpp
  src/Inciter/DiagCG.cpp
  src/Inciter/Discretization.cpp
  src/Inciter/Discretization.hpp
  src/Inciter/History.hpp
  src/Inciter/Transporter.cpp
  src/Mesh/DerivedData.cpp
  src/Mesh/DerivedData.hpp
  src/PDE/CGPDE.hpp
  src/PDE/CompFlow/CGCompFlow.hpp
  src/PDE/CompFlow/Problem/CMakeLists.txt
  src/PDE/CompFlow/Problem/FieldOutput.cpp
  src/PDE/CompFlow/Problem/FieldOutput.hpp
  src/PDE/Transport/CGTransport.hpp
  tests/regression/inciter/compflow/Euler/SodShocktube/CMakeLists.txt
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.2.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.3.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.4.e-s.0.9.2
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.4.e-s.0.9.5
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.4.e-s.0.9.8
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.4.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.5.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.1
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.2
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.4
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.5
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.7
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.e-s.0.9.8
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube-surf.6.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg-surf.2.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg-surf.4.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg-surf.5.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg-surf.6.std.exo
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg.q
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg_hist.{0.1_0.05_0.025}.std
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_alecg_hist.{0.9_0.05_0.025}.std
  tests/regression/inciter/compflow/Euler/SodShocktube/sod_shocktube_hist.ndiff.cfg
Labels: inciter

#402 Only build HyperMeshIO for unittest and meshconv
  src/IO/CMakeLists.txt
Labels: bug

#403 Fixed bug in conserved variable reconstruction, for boundary cells.
  src/PDE/CompFlow/DGCompFlow.hpp
  src/PDE/MultiMat/DGMultiMat.hpp
  src/PDE/Reconstruction.cpp
  src/PDE/Reconstruction.hpp
  src/PDE/Transport/DGTransport.hpp
  tests/regression/inciter/multimat/SodShocktube/diag_p0p1.std
  tests/regression/inciter/multimat/SodShocktube/exodiff_dg.cfg
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_diag.ndiff.cfg
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1.std.exo
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.0.std.exo.0
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.0.std.exo.1
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.0.std.exo.2
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.0.std.exo.3
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.0
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.1
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.10
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.11
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.12
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.13
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.14
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.15
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.16
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.17
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.18
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.19
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.2
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.20
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.21
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.22
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.23
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.24
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.25
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.26
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.27
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.28
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.29
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.3
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.30
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.31
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.32
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.33
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.34
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.35
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.36
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.37
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.38
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.4
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.5
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.6
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.7
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.8
  tests/regression/inciter/multimat/SodShocktube/sod_shocktube_p0p1_pe4_u0.9.std.exo.9
  tests/regression/inciter/multimat/WaterAirShocktube/diag_p0p1.std
  tests/regression/inciter/multimat/WaterAirShocktube/waterair_shocktube_p0p1.std.exo
Labels: bug, inciter

#404 ALECG performance improvements
  src/Control/Keywords.hpp
  src/Inciter/ALECG.cpp
  src/Inciter/Discretization.cpp
  src/PDE/CompFlow/CGCompFlow.hpp
  tests/regression/inciter/compflow/Euler/VorticalFlow/CMakeLists.txt
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_operator_reorder_alecg.q
Labels: inciter

#405 Make ALECG dual-face normals streamable
  src/Base/Data.hpp
  src/Base/Vector.cpp
  src/Base/Vector.hpp
  src/Inciter/ALECG.cpp
  src/Inciter/ALECG.hpp
  src/PDE/CGPDE.hpp
  src/PDE/CompFlow/CGCompFlow.hpp
  src/PDE/Reconstruction.cpp
  src/PDE/Reconstruction.hpp
  src/PDE/Riemann/Rusanov.hpp
  src/PDE/Transport/CGTransport.hpp
Labels: inciter

#406 Switch the order of filling the node gradients in ALECG
  src/Base/Progress.hpp
  src/Inciter/ALECG.cpp
  src/Inciter/DiagCG.cpp
  src/PDE/CGPDE.cpp
  src/PDE/CGPDE.hpp
  src/PDE/CompFlow/CGCompFlow.hpp
  src/PDE/Transport/CGTransport.hpp
Labels: inciter
