Repository quinoacomputing/quinoa, pull requests merged in 2020-03, with the labels that each got.

#393 Corrected a bug in eos_temperature
  src/PDE/EoS/EoS.hpp
  src/PDE/MultiMat/DGMultiMat.hpp
Labels: bug, inciter

#392 Stagnation point BCs in CompFlow for DiagCG and ALECG
  src/Control/CommonGrammar.hpp
  src/Control/Inciter/InputDeck/Grammar.hpp
  src/Control/Inciter/InputDeck/InputDeck.hpp
  src/Control/Inciter/Types.hpp
  src/Control/Keywords.hpp
  src/Control/Tags.hpp
  src/Inciter/NodeBC.cpp
  src/Inciter/NodeBC.hpp
  src/Mesh/DerivedData.cpp
  src/NoWarning/partitioner.decl.h
  src/NoWarning/partitioner.def.h
  src/NoWarning/transporter.def.h
  src/PDE/CGPDE.cpp
  src/PDE/CGPDE.hpp
  src/PDE/CompFlow/CGCompFlow.hpp
  src/PDE/ConfigureCompFlow.cpp
  src/PDE/FunctionPrototypes.hpp
  src/PDE/Transport/CGTransport.hpp
  tests/regression/inciter/compflow/Euler/NLEnergyGrowth/CMakeLists.txt
  tests/regression/inciter/compflow/Euler/NLEnergyGrowth/nleg_stag.q
  tests/regression/inciter/compflow/Euler/VorticalFlow/CMakeLists.txt
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag.q
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.0
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.1
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.2
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.3
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.4
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.5
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.6
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_alecg_stag_pe4_u0.5.std.exo.7
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_stag.q
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_stag_pe4.std.exo.0
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_stag_pe4.std.exo.1
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_stag_pe4.std.exo.2
  tests/regression/inciter/compflow/Euler/VorticalFlow/vortical_flow_stag_pe4.std.exo.3
Labels: inciter

#395 Zero inciter timers
  src/Control/Inciter/CmdLine/CmdLine.hpp
  src/Control/Inciter/Types.hpp
  src/Control/Tags.hpp
  src/Inciter/ALECG.cpp
  src/Inciter/ALECG.hpp
  src/Inciter/DG.cpp
  src/Inciter/DG.hpp
  src/Inciter/DiagCG.cpp
  src/Inciter/DiagCG.hpp
  src/Inciter/Discretization.cpp
  src/Inciter/Discretization.hpp
  src/Inciter/Transporter.cpp
  src/Inciter/Transporter.hpp
  src/Inciter/alecg.ci
  src/Inciter/dg.ci
  src/Inciter/diagcg.ci
  src/Main/Inciter.cpp
Labels: Charm++, inciter

#396 Compute new log file name automatically for each restart
  src/Base/PrintUtil.cpp
  src/Base/PrintUtil.hpp
  src/Control/CMakeLists.txt
  src/Control/FileConv/CmdLine/CmdLine.hpp
  src/Control/FileConv/Types.hpp
  src/Control/Inciter/CmdLine/CmdLine.hpp
  src/Control/Inciter/InputDeck/InputDeck.hpp
  src/Control/Inciter/Types.hpp
  src/Control/MeshConv/CmdLine/CmdLine.hpp
  src/Control/MeshConv/Types.hpp
  src/Control/RNGTest/CmdLine/CmdLine.hpp
  src/Control/RNGTest/Types.hpp
  src/Control/UnitTest/CmdLine/CmdLine.hpp
  src/Control/UnitTest/Types.hpp
  src/Control/Walker/CmdLine/CmdLine.hpp
  src/Control/Walker/Types.hpp
  src/Inciter/Discretization.cpp
  src/Inciter/Transporter.cpp
  src/Inciter/Transporter.hpp
  src/Main/FileConv.cpp
  src/Main/FileConvDriver.cpp
  src/Main/FileConvDriver.hpp
  src/Main/Inciter.cpp
  src/Main/InciterDriver.cpp
  src/Main/InciterDriver.hpp
  src/Main/Init.hpp
  src/Main/MeshConv.cpp
  src/Main/MeshConvDriver.cpp
  src/Main/MeshConvDriver.hpp
  src/Main/RNGTest.cpp
  src/Main/RNGTestDriver.cpp
  src/Main/RNGTestDriver.hpp
  src/Main/UnitTest.cpp
  src/Main/UnitTestDriver.cpp
  src/Main/UnitTestDriver.hpp
  src/Main/Walker.cpp
  src/Main/WalkerDriver.cpp
  src/Main/WalkerDriver.hpp
  src/RNGTest/TestU01Suite.hpp
  src/UnitTest/TUTSuite.cpp
  src/UnitTest/TUTSuite.hpp
  src/Walker/Distributor.hpp
Labels: fileconv, inciter, meshconv, rngtest, unittest, walker
